{% extends 'base.html.twig' %}

{% block title %}Hello
    {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Twig !</h1>
        <p>Hello {{ prenom | badge }}
            {{ "Ben" | badge({'color': 'green'}) }}
            Welcome</p>
    </div>
{% endblock %}