<html>
<head>
    <title> SYMFONY </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<center><h1> Welcome </h1>
    <div>
        <h4>Login</h4>
        <div>
            <input type="text" placeholder="Username" name="" value="">
        </div>
        <div>
            <input type="password" placeholder="Password" name="" value="">
        </div>
        <input type="button" name="" value="sing in">
    </div>
</center>
</body>
</html>
